Memorama_Project-master/Connected Services/PartidaService/PartidaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PartidaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPartidaService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MemoramaService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPartidaService_CrearPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearPartida" />
  </wsdl:message>
  <wsdl:message name="IPartidaService_CrearPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IPartidaService_UnirsePartida_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirsePartida" />
  </wsdl:message>
  <wsdl:message name="IPartidaService_UnirsePartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnirsePartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IPartidaService_getPartidasActivas_InputMessage">
    <wsdl:part name="parameters" element="tns:getPartidasActivas" />
  </wsdl:message>
  <wsdl:message name="IPartidaService_getPartidasActivas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPartidasActivasResponse" />
  </wsdl:message>
  <wsdl:message name="IPartidaService_EliminarPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPartida" />
  </wsdl:message>
  <wsdl:message name="IPartidaService_EliminarPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPartidaResponse" />
  </wsdl:message>
  <wsdl:portType name="IPartidaService">
    <wsdl:operation name="CrearPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartidaService/CrearPartida" message="tns:IPartidaService_CrearPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartidaService/CrearPartidaResponse" message="tns:IPartidaService_CrearPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirsePartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartidaService/UnirsePartida" message="tns:IPartidaService_UnirsePartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartidaService/UnirsePartidaResponse" message="tns:IPartidaService_UnirsePartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPartidasActivas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartidaService/getPartidasActivas" message="tns:IPartidaService_getPartidasActivas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartidaService/getPartidasActivasResponse" message="tns:IPartidaService_getPartidasActivas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartidaService/EliminarPartida" message="tns:IPartidaService_EliminarPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartidaService/EliminarPartidaResponse" message="tns:IPartidaService_EliminarPartida_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPartidaService" type="tns:IPartidaService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPartidaService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearPartida">
      <soap12:operation soapAction="http://tempuri.org/IPartidaService/CrearPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnirsePartida">
      <soap12:operation soapAction="http://tempuri.org/IPartidaService/UnirsePartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartidasActivas">
      <soap12:operation soapAction="http://tempuri.org/IPartidaService/getPartidasActivas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPartida">
      <soap12:operation soapAction="http://tempuri.org/IPartidaService/EliminarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartidaService">
    <wsdl:port name="NetTcpBinding_IPartidaService" binding="tns:NetTcpBinding_IPartidaService">
      <soap12:address location="net.tcp://localhost:8092/DataAccessService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8092/DataAccessService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LUISMOGA\Luis Manuel</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>