Memorama_Project-master/Connected Services/DataAccessService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JugadorSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PuntuacionSet" nillable="true" type="tns:ArrayOfPuntuacionSet" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorSet" nillable="true" type="tns:JugadorSet" />
  <xs:complexType name="ArrayOfPuntuacionSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PuntuacionSet" nillable="true" type="tns:PuntuacionSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuntuacionSet" nillable="true" type="tns:ArrayOfPuntuacionSet" />
  <xs:complexType name="PuntuacionSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JugadorSet" nillable="true" type="tns:JugadorSet" />
      <xs:element minOccurs="0" name="Jugador_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Puntos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuntuacionSet" nillable="true" type="tns:PuntuacionSet" />
</xs:schema>